.l__wrapper {
    width: 100%;
}

.l__container {
    margin: 0 auto;
    max-width: $max-width; // TODO: make this a variable
    display: flex;
    flex-direction: column;
    @include respond-to('small') {
        flex-direction: row;
    }
}

.l__col {

}